<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="layout.html" />
<head>
  <script type="text/javascript">
    $(document).ready(function() {
     $('.edit').editable('/browser/put/${url}', {
         indicator : 'Saving...',
         tooltip   : 'Click to edit...',
         placeholder: '<span class="static">(unset)</span>',
         event     : 'start_edit',
         oncancel: function() {
            $(this).next().show();
        }
     });

    $('.edit-activate').click(function() {
      $(this).prev().trigger('start_edit');
      $(this).hide();
    });

    });
  </script>
</head>

<body>
  <h1 id="title" class="edit">${file.title()}</h1>
  <p>
    <py:for each="ref, url in refs.items()">
      [<a href="${url}">${ref}</a>]
    </py:for>
  </p>

  <table>
    <tr><td>Filename</td><td class="static">${file.basename()}</td></tr>
    <tr><td>Size</td><td class="static">${file.size()}</td></tr>
    <tr><td>Length</td><td class="static">${file.length()}</td></tr>
    <tr><td>Codec</td><td class="static">Video ${file.video_codec()} Audio ${file.audio_codec()}</td></tr>
    <tr><td>Resolution</td><td class="static">${file.resolution()}</td></tr>
    <tr py:for="key, value in meta.items()">
      <td>${key}</td>
      <td>
	<span id="${key}" class="edit">${value}</span>
	<img src="/static/page_edit.png" class="edit-activate" title="Edit" />
      </td>
    </tr>
  </table>
</body>

</html>
