<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 
	<xi:include href="layout.html" />
<head>
  <script type="text/javascript">
    $(document).ready(function() {
     $('.edit').editable('/browser/put/${url}');
    });
  </script>
</head>

<body>
  <h1 id="title" class="edit">${file.title()}</h1>
  <p>[imdb] [filmtipset]</p>

  <table>
    <tr><td>Filename</td><td>${file.basename()}</td></tr>
    <tr><td>Size</td><td>${file.size()}</td></tr>
    <tr><td>Length</td><td>${file.length()}</td></tr>
    <tr><td>Codec</td><td>Video ${file.video_codec()} Audio ${file.audio_codec()}</td></tr>
    <tr><td>Resolution</td><td>${file.resolution()}</td></tr>
    <tr><td>Genre</td><td>&nbsp;</td></tr>
    <tr><td>Tags</td><td>&nbsp;</td></tr>
    <tr><td>Year</td><td>&nbsp;</td></tr>
  </table>
</body>

</html>
