<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 

<head>
  <script type="text/javascript" src="/static/jquery-1.4.4.min.js" />
  <script type="text/javascript" src="/static/jquery.timers-1.2.js" />
  <script type="text/javascript" src="/static/player.js" />
</head>

<body>
  <h1>Player</h1>

  <div id="status">&nbsp;</div>
  <pre id="progress">&nbsp;</pre>

  <py:if test="player.is_playing()">
    <h2>Controls</h2>
    <b>
      <a href="/player/seek/-60">≪</a>
      <a href="/player/seek/-10">&lt;</a>
      <a href="/player/stop">Stop</a>
      <a href="/player/pause">Pause</a>
      <a href="/player/seek/10">&gt;</a>
      <a href="/player/seek/60">≫</a>
    </b>
  </py:if>
  <hr/>
</body>

</html>
