<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:py="http://genshi.edgewall.org/" 
	xmlns:xi="http://www.w3.org/2001/XInclude" 
	lang="en"> 

<head>
  <script type="text/javascript" src="/static/jquery-1.4.4.min.js" />
  <script type="text/javascript" src="/static/jquery.timers-1.2.js" />
  <script type="text/javascript" src="/static/player.js" />
</head>

<body>
  <h1>Player</h1>

  <div id="status">&nbsp;</div>
  <pre id="progress">&nbsp;</pre>

  <h2>Controls</h2>
  <b>
    <a href="#" onclick="seek(-60); return false;">≪</a>
    <a href="#" onclick="seek(-10); return false;">&lt;</a>
    <a href="#" onclick="stop(); return false;">Stop</a>
    <a href="#" onclick="pause(); return false;">Pause</a>
    <a href="#" onclick="seek(10); return false;">&gt;</a>
    <a href="#" onclick="seek(60); return false;">≫</a>
  </b>
</body>

</html>
